<!---- 覆寫 HTML 原始樣式 --> u {
    FONT-FAMILY: "Courier New", "Courier", "mono"
}

a {
    TEXT-DECORATION: none
}

a:visited {
    COLOR: Blue
}

a:hover {
    COLOR: Red;
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-DECORATION: underline
}

a:link {
    COLOR: Blue
}

<!---- 標準樣式 class 定義 --> <!---- 清單顯示樣式(深) --> .deep-bg {
    BACKGROUND-COLOR: #B7C9FF;
    COLOR: BLACK;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: center
}

.deep-bg-left {
    BACKGROUND-COLOR: #B7C9FF;
    COLOR: BLACK;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left
}

.deep-bg-right {
    BACKGROUND-COLOR: #B7C9FF;
    COLOR: BLACK;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: right
}

<!---- 顯示區 --> .display-area {
    BACKGROUND-COLOR: #76A2FE;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: center
}

.display-area-left {
    BACKGROUND-COLOR: #76A2FE;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left
}

.display-area-right {
    BACKGROUND-COLOR: #76A2FE;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: right
}

.errField {
    BACKGROUND-COLOR: #FFC8FF;
    TEXT-ALIGN: center
}

.errField-left {
    BACKGROUND-COLOR: #FFC8FF;
    TEXT-ALIGN: left
}

.errField-right {
    BACKGROUND-COLOR: #FFC8FF;
    TEXT-ALIGN: right
}

.function-bar {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: center
}

.function-bar-left {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: left
}

.function-bar-right {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: right
}

.highlight {
    BACKGROUND-COLOR: DarkBlue;
    COLOR: white;
    FLOAT: none
}

.highlight-center {
    BACKGROUND-COLOR: DarkBlue;
    COLOR: white;
    FLOAT: none;
    TEXT-ALIGN: center
}

.highlight-left {
    BACKGROUND-COLOR: DarkBlue;
    COLOR: white;
    FLOAT: none;
    TEXT-ALIGN: left
}

.highlight-right {
    BACKGROUND-COLOR: DarkBlue;
    COLOR: white;
    FLOAT: none;
    TEXT-ALIGN: right
}

.highlight-bolder {
    BACKGROUND-COLOR: DarkBlue;
    COLOR: white;
    FLOAT: none;
    FONT-WEIGHT: bolder;
    CURSOR: hand
}

.light-bg {
    BACKGROUND-COLOR: #C4DAFF;
    COLOR: black;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: center
}

.light-bg-left {
    BACKGROUND-COLOR: #C4DAFF;
    COLOR: black;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left
}

.light-bg-right {
    BACKGROUND-COLOR: #C4DAFF;
    COLOR: black;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: right
}

.light-tab-border {
    CURSOR: hand;
    FONT-WEIGHT: bold;
    BORDER-TOP: solid 1px buttonhighlight;
    BORDER-LEFT: solid 1px buttonhighlight;
    BORDER-RIGHT: solid 1px #808080;
}

.msg {
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: red;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    BORDER: 1px outset
}

.readOnly {
    BACKGROUND-COLOR: lightGrey;
    COLOR: Gray;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: center;
    BORDER: 1px solid
}

.readOnly-left {
    BACKGROUND-COLOR: lightGrey;
    COLOR: Gray;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    BORDER: 1px solid
}

.readOnly-center {
    BACKGROUND-COLOR: lightGrey;
    COLOR: DarkBlue;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: center;
    BORDER: 1px Gray solid
}

.readOnly-right {
    BACKGROUND-COLOR: lightGrey;
    COLOR: Gray;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: right;
    BORDER: 1px solid
}

.sys {
    BACKGROUND-COLOR: #446D8C;
    COLOR: white;
    FLOAT: none;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: center
}

.sys-title {
    BACKGROUND-COLOR: #4171D1;
    COLOR: white;
    FLOAT: none;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: center
}

.sys-title-left {
    BACKGROUND-COLOR: #4171D1;
    COLOR: white;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: left
}

.sys-title-right {
    BACKGROUND-COLOR: #4171D1;
    COLOR: white;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: right
}

.sys-title-side {
    BACKGROUND-COLOR: #4171D1;
    COLOR: black;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left
}

.subsys-title {
    BACKGROUND-COLOR: #76A2FE;
    COLOR: white;
    FLOAT: none;
    TEXT-ALIGN: center
}

.subsys-title-10 {
    BACKGROUND-COLOR: #76A2FE;
    font-size: 12pt;
    COLOR: white;
    FLOAT: none;
    TEXT-ALIGN: center
}

.subsys-title-left {
    BACKGROUND-COLOR: #76A2FE;
    COLOR: white;
    TEXT-ALIGN: left
}

.subsys-title-right {
    BACKGROUND-COLOR: #76A2FE;
    COLOR: white;
    TEXT-ALIGN: right
}

.text-center {
    CLEAR: both;
    TEXT-ALIGN: center
}

.text-center-deep {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: center
}

.text-center-light {
    BACKGROUND-COLOR: #C4DAFF;
    TEXT-ALIGN: center
}

.text-left {
    CLEAR: both;
    TEXT-ALIGN: left
}

.text-left-deep {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: left
}

.text-left-light {
    BACKGROUND-COLOR: #C4DAFF;
    TEXT-ALIGN: left
}

.text-right {
    CLEAR: both;
    TEXT-ALIGN: right
}

.text-right-deep {
    BACKGROUND-COLOR: #B7C9FF;
    TEXT-ALIGN: right
}

.text-right-light {
    BACKGROUND-COLOR: #C4DAFF;
    TEXT-ALIGN: right
}

.whole-bg {
    BACKGROUND-COLOR: #E1E7FF
}

.deep-tab-border {
    CURSOR: hand;
    BORDER-TOP: solid 1px #E0E0E0;
    BORDER-LEFT: solid 1px #E0E0E0;
    BORDER-BOTTOM: solid 1px buttonhighlight;
}

.deep-tab-border-right {
    CURSOR: hand;
    BORDER-TOP: solid 1px #E0E0E0;
    BORDER-LEFT: solid 1px #E0E0E0;
    BORDER-BOTTOM: solid 1px buttonhighlight;
    TEXT-ALIGN: right
}

.deep-tab-border-center {
    CURSOR: hand;
    BORDER-TOP: solid 1px #E0E0E0;
    BORDER-LEFT: solid 1px #E0E0E0;
    BORDER-BOTTOM: solid 1px buttonhighlight;
    TEXT-ALIGN: center
}

.light-tab-border {
    CURSOR: hand;
    FONT-WEIGHT: bold;
    BORDER-TOP: solid 1px buttonhighlight;
    BORDER-LEFT: solid 1px buttonhighlight;
    BORDER-RIGHT: solid 1px #808080;
}

.light-tab-border-center {
    CURSOR: hand;
    FONT-WEIGHT: bold;
    BORDER-TOP: solid 1px buttonhighlight;
    BORDER-LEFT: solid 1px buttonhighlight;
    BORDER-RIGHT: solid 1px #808080;
    TEXT-ALIGN: center
}

.mouse-hand {
    cursor: hand;
}

.col-mark {
    BACKGROUND: #CCCCCC;
    COLOR: BLACK;
    text-align: center;
}

.transparent-field {
    background: transparent;
    border: none 0;
    font-size: 12pt;
    text-align: center;
}

.transparent-field-left {
    background: transparent;
    border: none 0;
    font-size: 12pt;
    text-align: left;
}

<!---- 顯示區 mouse-hand -> 月曆用到 col-mark -> 表格排序 --> <!---- 以下請勿使用！ --> .err-blank-bg {
    BACKGROUND-COLOR: CYAN
}

.err-blankAndNum-bg {
    BACKGROUND-COLOR: ORANGE
}

.err-date-bg {
    BACKGROUND-COLOR: PINK
}

.err-id-bg {
    BACKGROUND-COLOR: #CCCCFF
}

.err-msg-bg {
    BACKGROUND-COLOR: #FFFFCC;
    COLOR: #330066
}

.err-num-bg {
    BACKGROUND-COLOR: BLUE;
    COLOR: WHITE
}
